@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme(fontFamily.body);
}

.leaflet-popup-content {
  margin: 10px;
}

.leaflet-popup-content-wrapper {
  border-radius: 16px;
  padding: 0;
}
